* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: pink;
  padding: 12px;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin: 0 4px;
}
