* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{background-color: #1b1b1b;}
:buffering

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-items: center;
  padding: 12px;
  align-items: center;
  gap: 24px;
}

.navbar h1 {
  font-size: 24px;
  color: white;
}
@font-face {
  font-family: 'gameofsquids';
  src: url(font/Game\ Of\ Squids.ttf) format(truetype);
}
@font-face {
  font-family: 'gantari';
  src: url(font/Gantari-SemiBold.otf) format(truetype); 
}
h1 {
  font-family: 'gameofsquids';
  color: white;
}

.navbar a {
  text-decoration: none;
  font-family: 'gantari';
  text-align: right;
  color: white;
  margin: 0 4px;
}
